<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MisFitiPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DD6635E1C0E2B540031E667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD663721C0E2B540031E667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD6637D1C0E2B540031E667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
